@charset "UTF-8";

body {
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-image: url(images/background.jpg);
  padding: 50px;
  background-size: cover;
}

h1 {
  font-size: 45px;
  letter-spacing: 2rem;
  text-shadow: 10px 10px 10px gray;
}
  
.menu  ul {
  list-style: none;
  display: flex;
  justify-content: right;
  
}

.menu ul li {
  margin-left: 20px;
  margin-right: 20px; 
}

.menu  a {
  color: black;
}

.menu a:hover {
  text-decoration: none;
}

#sky {
  width: 100%;
  height: 500px;
 }

/* 自己紹介 */
#about {
  display: flex;
  justify-content: center;  
  margin-top: 90px;
}

.woman {
  border: 4px solid rgb(255,209,204);
  border-radius: 50%;
  width:200px;
  height: 200px;
  margin-top: 40px;
}

.profile {
  margin-left: 50px;
  margin-bottom: 150px;
}

h2::after {
  content: '';
  display: block;
  width: 50px;
  height:5px;
  background-color: #ffd700;
}

h2 {
  line-height: 70px;
}


/* 職歴 */
#history {
  margin-top: 90px;
  margin-left: 40px;
}

.work p {
  display: flex;
}

/* footer */
footer {
  margin-top: 120px;
}

.other {
  text-align: center;
  
}

.other img {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}